<div class="action-bar">
    <!-- Start/end of game -->
    <div data-bind="visible: waitingToPlay">
        <p>Esperando jogadores</p>
        <p data-bind="visible: !wantToStart()">
            <button class="btn btn-default" data-bind="enable: canAddAi(), event: {vclick: addAi}">Adicionar robo</button>
            <button class="btn btn-default" data-bind="enable: canRemoveAi(), event: {vclick: removeAi}">Remover robo</button>
            <br/>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'original')}, enable: canStartGame">Começar jogo normal</button>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'inquisidores')}, enable: canStartGame">Começar jogo com inquisidor</button>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'reforma')}, enable: canStartGame">Começar jogo com a reforma</button>
        </p>
        <p data-bind="visible: wantToStart()">
            Nem todos os jogadores estão prontos. Começar sem eles?<br/>
            <button class="btn btn-default" data-bind="event: {vclick: confirmStart.bind(null, null)}">Começar</button>
            <button class="btn btn-default" data-bind="event: {vclick: cancelStart}">Voltar</button>
        </p>
    </div>
    <!-- ko if: !waitingToPlay() -->
    <div data-bind="visible: weHaveWon()">
        Voce ganhou<br/>
    </div>
    <div data-bind="visible: theyHaveWon()">
        <span data-bind="text: winnerName()"></span> ganhou!<br/>
    </div>
    <div data-bind="visible: canPlayAgain()">
        <button class="btn btn-default" data-bind="event: {vclick: playAgain}">Jogar novamente?</button>
    </div>
    <!-- /ko -->

    <!-- During game -->
    <div data-bind="visible: weAreInState('start-of-turn')">
        <!-- ko if: !targetedAction() -->
            Sua vez:<br/>
            <!-- ko foreach: actionNames() -->
                <!-- ko if: actionPresentInGame($data) -->
                    <button class="btn btn-action" data-bind="enable: canPlayAction($data), event: {vclick: playAction}, css: buttonActionClass($data)">
                        <i data-bind="css: $data"></i>
                        <span data-bind="text: $data.replace('-', ' ')"></span>
                        <!-- ko if: $data == 'desviar' -->
                            <span class="badge" style="margin-top: 9px; margin-bottom: 8px;" data-bind="text: '+$' + $root.state.treasuryReserve()"></span>
                        <!-- /ko -->
                    </button>
                <!-- /ko -->
                <!-- ko if: $data == 'golpe' -->
                    <br>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: targetedAction -->
            <i data-bind="css: targetedAction"></i>
            <span data-bind="text: targetedAction"></span>:
            <!-- ko foreach: state.players -->
                <!-- ko if: canTarget($index()) -->
                    <button class="btn btn-default" data-bind="text: name, event: {vclick: function() { playTargetedAction($index()); }}"></button>
                <!-- /ko -->
            <!-- /ko -->
            <button class="btn btn-link" data-bind="event: {vclick: cancelAction}">back</button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: theyAreInState('start-of-turn')">
        Esperando <span data-bind="text: currentPlayerName()"></span> jogar
    </div>
    <div data-bind="visible: theyAreInState('trocar')">
        <i class="trocar"></i>
        Esperando <span data-bind="text: currentPlayerName()"></span> trocar de papel
    </div>
    <div data-bind="visible: weAreInState('trocar')">
        <i class="trocar"></i>
        Escolha <span data-bind="text: ourInfluenceCount()"></span> os papeis a serem mantidos:<br/>
        <!-- ko foreach: state.state.trocarOptions -->
            <button class="btn" data-bind="text: $data, css: trocarOptionClass($index()), event: {vclick: function() {toggletrocarOption($index());}}"></button>
        <!-- /ko -->
        <br/>
        <button class="btn btn-action btn-embaixador" data-bind="enable: trocarOptionsValid(), event: {vclick: trocar}">
            <i class="trocar"></i>
            <span>Trocar</span>
        </button>
    </div>
    <div data-bind="visible: theyAreInState('interrogar')">
        <i class="interrogar"></i>
        Esperando <span data-bind="text: currentPlayerName()"></span> interrogar <span data-bind="text: targetPlayerName()"></span>
    </div>
    <div data-bind="visible: weAreInState('interrogar')">
        <i class="interrogar"></i>
        <span data-bind="text: targetPlayerName()"></span> é
        <span class="label" data-bind="text: state.state.confession(), css: labelClass(state.state.confession())"></span><br/>

        Forçar <span data-bind="text: targetPlayerName()"></span> a trocar personagem?<br/>
        <button class="btn btn-default" data-bind="event: {vclick: interrogar.bind(null, true)}">Sim</button>
        <button class="btn btn-default" data-bind="event: {vclick: interrogar.bind(null, false)}">Não</button>
    </div>
    <div data-bind="visible: weAreInState('action-response')">
        <i data-bind="css: state.state.action"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Esperando Bloqueios/Contestação
    </div>
    <div data-bind="visible: theyAreInState('action-response')">
        <i data-bind="css: state.state.action"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        <!-- ko if: !weCanBlock() && !weCanChallenge() -->
            Esperando Bloqueios/Contestação
        <!-- /ko -->
        <!-- ko if: weCanBlock() || weCanChallenge() -->
            <p data-bind="text: ourTeamWarning()"></p>
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Permitir</span>
            </button>
            <!-- ko if: weCanBlock() -->
                <!-- ko foreach: blockingRoles() -->
                    <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                        <i class="block"></i>
                        <span data-bind="text: 'Bloquear com ' + $data"></span>
                    </button>
                <!-- /ko -->
            <!-- /ko -->
            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                <i class="challenge"></i>
                <span>Contestar</span>
            </button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: weAreInState('final-action-response')">
        <i data-bind="css: state.state.action"></i>
        Esperando Bloqueio
    </div>
    <div data-bind="visible: theyAreInState('final-action-response')">
        <i data-bind="css: state.state.action"></i>
        <!-- ko if: !weCanBlock() -->
            Esperando Bloqueio
        <!-- /ko -->
        <!-- ko if: weCanBlock() -->
            Ultima chance de bloquear<br/>
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Permitir</span>
            </button>
            <!-- ko foreach: blockingRoles() -->
                <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                    <i class="block"></i>
                    <span data-bind="text: 'Bloquear com ' + $data"></span>
                </button>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div data-bind="visible: weAreTargeted('block-response')">
        <i class="block"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Esperando Contestação
    </div>
    <div data-bind="visible: theyAreTargeted('block-response') &amp;&amp; weAreAlive()">
        <i class="block"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        <!-- ko if: !weAreAlive() -->
            Esperando Contestação
        <!-- /ko -->
        <!-- ko if: weAreAlive() -->
            <p data-bind="text: ourTeamWarning()"></p>
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Permitir</span>
            </button>
            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                <i class="challenge"></i>
                <span>Contestar</span>
            </button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: weMustReveal()">
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Voce tem que revelar um personagem
        <!-- ko foreach: ourInfluence() -->
        <button class="btn" data-bind="text: role, css: buttonRoleClass(role()), visible: !revealed(), event: {vclick: reveal}"></button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: theyMustReveal()">
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Esperando <span data-bind="text: toRevealPlayerName()"></span> revelar um personagem.
    </div>
</div>
