<div class="modal" id="newGameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newGameModalTitle">Criar novo jogo</h4>
            </div>
            <div class="modal-body">
                <form data-bind="submit: create">
                    <p><input type="text" placeholder="Digite a senha" data-bind="textInput: password"/></p>
                    <p><button type="submit" class="btn btn-default">Criar jogo</button></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="joinGameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="joinGameModalTitle" data-bind="text: gameInfo() ? 'Jogo ' + gameInfo().gameName : 'Jogo não localizado'"></h4>
            </div>
            <div class="modal-body">
                <div data-bind="visible: !gameInfo()">
                    Não foi possivel localizar o jogo. Por favor verifique sua URL e tente novamente.
                </div>
                <div data-bind="with: gameInfo">
                    <form data-bind="submit: join.bind(null, null, null, gameName)">
                        <p>Status: <span data-bind="text: status"></span></p>
                        <p>Modo: <span data-bind="text: type"></span></p>
                        <p data-bind="visible: passwordRequired">Password: <input type="text" placeholder="Senha" data-bind="textInput: $parent.password"/></p>
                        <p class="error" data-bind="visible: $root.incorrectPassword">Senha incorreta</p>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Jogador</th>
                                        <th>Humano</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: players">
                                    <tr>
                                        <td data-bind="text: playerName"></td>
                                        <td data-bind="text: ai == true ? 'não' : 'sim'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p><button type="submit" class="btn btn-default btn-block">Entrar no jogo</button></p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="userProfileDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: confirmUserProfileDialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="passwordRequiredTitle">O meu nome vai ser:</h4>
                </div>
                <div class="modal-body">
                    <p><input type="text" placeholder="Nome" data-bind="textInput: playerName"/></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="doubleRevealWarning" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="doubleRevealWarningTitle">Cuidado!</h4>
            </div>
            <div class="modal-body">
                <p>
                    A ação que você está prestes a fazer merece muita consideração.
                </p>
                <p>
                    Por mais que você ainda tenha duas influencias, é possivel perder as duas agora. Se essa resposta a tentiva de contestar o assassinoato falhar, você ira perder uma influencia por ter contestado  o assassinoato, e a segunda pelo assassinoato.
                </p>
                <p>
                    Escolha com cuidado!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Reconsiderar</button>
                <button type="button" class="btn btn-default" data-bind="click: confirmDoubleKillAction">Confirmar</button>
                <button type="button" class="btn btn-default" data-bind="click: disableDoubleKillWarning">Confirmar e não me avisar novamente</button>
            </div>
        </div>
    </div>
</div>
