<ul class="list-group" data-bind="foreach: state.players">
    <li class="list-group-item" data-bind="css: { 'current-player' : $index() == $root.state.state.playerIdx() }">
        <div class="row" data-bind="visible: $root.waitingToPlay">
            <div class="col-xs-6">
                <span data-bind="text: name, css: { 'dead-player' : isReady() == 'observe' }"></span>
                <span class="glyphicon glyphicon-eye-open observer" data-bind="visible: isReady() == 'observe'"></span>
            </div>
            <div class="col-xs-6">
                <span class="badge" data-bind="text: (isReady() ? 'Pronto' : 'Ainda não estou pronto')"></span>
            </div>
        </div>
        <div class="row" data-bind="visible: !$root.waitingToPlay()">
            <div class="col-xs-6">
                <span data-bind="text: name, css: { 'dead-player' : influenceCount() == 0 }"></span>
                <span class="badge" data-bind="text: '$' + cash(), visible: !isObserver()"></span>
                <span class="glyphicon glyphicon-eye-open observer" data-bind="visible: isObserver()"></span>
                <i class="team-red" data-bind="visible: influenceCount() > 0 && team() == 1"></i>
                <i class="team-blue" data-bind="visible: influenceCount() > 0 && team() == -1"></i>
            </div>
            <div class="col-xs-6">
                <!-- ko foreach: influence -->
                    <span class="label" data-bind="text: role, css: labelClass(role(), revealed()), tooltip: { title: roleDescription(role()), trigger: 'hover', placement: 'right' }"></span><br/>
                <!-- /ko -->
            </div>
        </div>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item">
        <a href="javascript: null" data-bind="event: {vclick: showChat}, visible: sidebar() != 'chat'">Chat</a>
        <div data-bind="visible: sidebar() == 'chat'">
            <div class="chat"></div>
            <textarea class="form-control" rows="2" placeholder="Mensagem"></textarea>
        </div>
    </li>
    <li class="list-group-item">
        <a href="javascript: null" data-bind="event: {vclick: showCheatSheet}, visible: sidebar() != 'cheat'">Tabela de ações</a>
        <div data-bind="visible: sidebar() == 'cheat'">
            <!-- ko foreach: state.roles -->
                <p><span class="label" data-bind="text: $data, css: labelClass($data)"></span> <span data-bind="text: roleDescription($data)"></span></p>
            <!-- /ko -->
            <!-- ko if: state.roles().length > 0 -->
            <p>Ajuda externa +$2; bloqueado pelo duque</p>
            <p>Renda +$1</p>
            <p>Pague $7 para performar um golpe, obrigando outro jogador a revelar uma influencia</p>
            <!-- ko if: state.gameType() == 'reforma' -->
            <p>Pague $1 para trocar de religião</p>
            <p>Pague $2 para converterer a religião de outro jogador</p>
            <p>Pegue o dinheiro do banco $?; proibido pro duque</p>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: state.roles().length === 0 -->
            <p>Disponivel apenas depois do inicio do jogo</p>
            <!-- /ko -->
        </div>
    </li>
</ul>
<p><a href="rules.html" target="blank">Como Jogar</a></p>
<p><a href="" data-bind="click: leaveGame">Sair do jogo</a></p>
<p><a href="javascript:;" data-bind="visible: notifsSupported, text: notifToggleText, click: toggleNotifs"></a></p>
