<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Treason Coup</title>
    <meta name="description" content="Play Coup online with your friends and against the AI">

    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="client.css">
    <link rel="stylesheet" href="lib/jquery-ui.css">

    <script src="lib/jquery-2.1.4.js"></script>
    <script src="lib/jquery.mobile.custom.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/knockout-3.3.0.debug.js"></script>
    <script src="lib/knockout.mapping-debug.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="shared.js"></script>
    <script src="client.js"></script>
    <script src="version.js"></script>
</head>
<body>
    <div class="banner" data-bind="visible: bannerVisible, html: bannerMessage"></div>
    <div class="container" data-bind="visible: !playing()">
        <div class="row"><br/></div>
        <div class="row">
            <!-- Welcome screen -->
            <div class="col-xs-12">
                <h3>Treason Coup</h3>
                <p data-bind="text: version"></p>
                <!-- ko if: !needName() -->
                <form data-bind="submit: join">
                    <p><input type="text" placeholder="Name" data-bind="textInput: playerName"/></p>
                    <p><button class="btn btn-default" type="submit" data-bind="enable: playerName">Join public game</button></p>
                </form>
                <p><button class="btn btn-default" data-bind="enable: playerName, click: create">Create private game</button></p>
                <!-- /ko -->
                <!-- ko if: needName() -->
                <p>Please enter a name to be able to join <span data-bind="text: gameUrl()"></span></p>
                <form data-bind="submit: join">
                    <p><input type="text" placeholder="Name" data-bind="textInput: playerName"/></p>
                    <p><button class="btn btn-default" type="submit" data-bind="enable: playerName">Join private game</button></p>
                    <input type="hidden" data-bind="value: gameUrl()" name="privateGameName"/>
                </form>
                <!-- /ko -->
                <p><a href="rules.html" target="blank">How to play</a></p>
                <p><span data-bind="visible: activeUsers"><span data-bind="text: activeUsers"></span> players are online</span></p>
                <img src="feedback.png"></img>
            </div>
        </div>
    </div>

    <div class="container" style="display: none" data-bind="visible: playing()">
        <div class="modal fade" id="privateGameCreatedModal" tabindex="-1" role="dialog" aria-labelledby="privateGameLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="privateGameModalTitle">You have just created a private game</h4>
                    </div>
                    <div class="modal-body">
                        <p>To invite someone else to join this private game, share the following URL with them:</p>
                        <input type="text" onclick="this.focus();this.select()" readonly="readonly"
                               data-bind="value: calculatedGameUrl(), style: {width: (calculatedGameUrl().length+1) * 9 +'px' }"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-bind="visible: privateGame()">
            <div class="col-xs-12">
                <p>
                    <span data-bind="tooltip: {title: 'Share this URL with someone who you would like to share this game with.', trigger: 'hover', placement: 'right'}">
                        Private game: <input type="text" onclick="this.focus();this.select()" readonly="readonly"
                                             data-bind="value: calculatedGameUrl(), style: {width: (calculatedGameUrl().length+1) * 9 +'px' }"/>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <!-- Players -->
            <div class="col-xs-4">
                <% include ../partials/side-bar.ejs %>
            </div>
            <!-- Activity -->
            <div class="col-xs-8 activity">
                <div class="action-bar">
                    <div data-bind="visible: state.state.name() == 'waiting-for-players'">
                        <p>Waiting for players</p>
                        <p>
                            <button class="btn btn-default" data-bind="event: {vclick: addAi}">Add AI</button>
                            <button class="btn btn-default" data-bind="event: {vclick: start}, visible: state.numPlayers() >= 2">Start</button>
                        </p>
                    </div>
                    <div data-bind="visible: weAreInState('start-of-turn')">
                        <!-- ko if: !targetedAction() -->
                            Your turn:<br/>
                            <!-- ko foreach: actionNames() -->
                                <button class="btn btn-action" data-bind="enable: canPlayAction($data), event: {vclick: playAction}, css: buttonActionClass($data)">
                                    <i data-bind="css: $data"></i>
                                    <span data-bind="text: $data"></span>
                                </button>
                                <!-- ko if: $data == 'exchange' --><br/><!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: targetedAction -->
                            <i data-bind="css: targetedAction"></i>
                            <span data-bind="text: targetedAction"></span>:
                            <!-- ko foreach: state.players -->
                                <!-- ko if: canTarget($index()) -->
                                    <button class="btn btn-default" data-bind="text: name, event: {vclick: function() { playTargetedAction($index()); }}"></button>
                                <!-- /ko -->
                            <!-- /ko -->
                            <button class="btn btn-link" data-bind="event: {vclick: cancelAction}">back</button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: theyAreInState('start-of-turn')">
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to play
                    </div>
                    <div data-bind="visible: theyAreInState('exchange')">
                        <i class="exchange"></i>
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to exchange roles
                    </div>
                    <div data-bind="visible: weAreInState('exchange')">
                        <i class="exchange"></i>
                        Choose <span data-bind="text: ourInfluenceCount()"></span> roles to keep:<br/>
                        <!-- ko foreach: state.state.exchangeOptions -->
                            <button class="btn" data-bind="text: $data, css: exchangeOptionClass($index()), event: {vclick: function() {toggleExchangeOption($index());}}"></button>
                        <!-- /ko -->
                        <br/>
                        <button class="btn btn-action btn-ambassador" data-bind="enable: exchangeOptionsValid(), event: {vclick: exchange}">
                            <i class="exchange"></i>
                            <span>Exchange</span>
                        </button>
                    </div>
                    <div data-bind="visible: weAreInState('action-response')">
                        <i data-bind="css: state.state.action"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for blocks/challenges
                    </div>
                    <div data-bind="visible: theyAreInState('action-response')">
                        <i data-bind="css: state.state.action"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        <!-- ko if: !weAreAlive() -->
                            <br/>
                            Waiting for blocks/challenges
                        <!-- /ko -->
                        <!-- ko if: weAreAlive() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <!-- ko if: weCanBlock() -->
                                <!-- ko foreach: blockingRoles() -->
                                    <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                                        <i class="block"></i>
                                        <span data-bind="text: 'Block with ' + $data"></span>
                                    </button>
                                <!-- /ko -->
                            <!-- /ko -->
                            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                                <i class="challenge"></i>
                                <span>Challenge</span>
                            </button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreInState('final-action-response')">
                        <i data-bind="css: state.state.action"></i>
                        Waiting for blocks
                    </div>
                    <div data-bind="visible: theyAreInState('final-action-response')">
                        <i data-bind="css: state.state.action"></i>
                        <!-- ko if: !weCanBlock() -->
                            Waiting for blocks
                        <!-- /ko -->
                        <!-- ko if: weCanBlock() -->
                            Last chance to block<br/>
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <!-- ko foreach: blockingRoles() -->
                                <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                                    <i class="block"></i>
                                    <span data-bind="text: 'Block with ' + $data"></span>
                                </button>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreTargeted('block-response')">
                        <i class="block"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for challenges
                    </div>
                    <div data-bind="visible: theyAreTargeted('block-response') &amp;&amp; weAreAlive()">
                        <i class="block"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        <!-- ko if: !weAreAlive() -->
                            Waiting for challenges
                        <!-- /ko -->
                        <!-- ko if: weAreAlive() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                                <i class="challenge"></i>
                                <span>Challenge</span>
                            </button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreInState('game-won')">
                        You have won!<br/>
                    </div>
                    <div data-bind="visible: theyAreInState('game-won')">
                        <span data-bind="text: currentPlayerName()"></span> has won!<br/>
                    </div>
                    <div data-bind="visible: gameOver() &amp;&amp; !privateGame()">
                        <button class="btn btn-default" data-bind="event: {vclick: join}">Play again</button>
                    </div>
                    <div data-bind="visible: gameOver() &amp;&amp; privateGame() &amp;&amp; !playerReady()">
                        <button class="btn btn-default" data-bind="event: {vclick: ready}">I am ready to play again!</button>
                    </div>
                    <div data-bind="visible: weMustReveal()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        You must reveal an influence
                        <!-- ko foreach: ourInfluence() -->
                        <button class="btn" data-bind="text: role, css: buttonRoleClass(role()), visible: !revealed(), event: {vclick: reveal}"></button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: theyMustReveal()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for <span data-bind="text: toRevealPlayerName()"></span> to reveal an influence
                    </div>
                </div>
                <ul class="list-group" data-bind="foreach: history">
                    <li class="list-group-item" data-bind="css: historyBorderClass($data)">
                        <ul class="history-group" data-bind="foreach: {data: $data, afterAdd: animateHistory}">
                            <li class="history-group-item" data-bind="attr: {'data-icon': icon}">
                                <i data-bind="css: icon"></i>
                                <span data-bind="text: message"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
