<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Treason Coup</title>

    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="client.css">
    <link rel="stylesheet" href="lib/jquery-ui.css">

    <script src="lib/jquery-2.1.4.js"></script>
    <script src="lib/jquery.mobile.custom.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script src="lib/knockout-3.3.0.debug.js"></script>
    <script src="lib/knockout.mapping-debug.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="shared.js"></script>
    <script src="client.js"></script>
    <script src="version.js"></script>
</head>
<body>
    <div class="container" data-bind="visible: !playing()">
        <div class="row">
            <!-- Welcome screen -->
            <div class="col-xs-12">
                <div class="alert alert-danger" role="alert" data-bind="text: welcomeMessage, visible: welcomeMessage"></div>
                <h3>Treason Coup</h3>
                <p data-bind="text: version"></p>
                <form data-bind="submit: join">
                    <p><input type="text" placeholder="Name" data-bind="value: playerName"/></p>
                    <p><button class="btn btn-default" type="submit" data-bind="enable: playerName">Join game</button></p>
                </form>
                <p><a href="rules.html" target="blank">How to play</a></p>
            </div>
        </div>
    </div>

    <div class="container" style="display: none" data-bind="visible: playing()">
        <div class="row">
            <!-- Players -->
            <div class="col-xs-4">
                <% include ../partials/side-bar.ejs %>
            </div>
            <!-- Activity -->
            <div class="col-xs-8 activity">
                <div class="action-bar">
                    <div data-bind="visible: state.state.name() == 'waiting-for-players'">
                        <p>Waiting for players</p>
                        <p>
                            <button class="btn btn-default" data-bind="event: {vclick: addAi}">Add AI</button>
                            <button class="btn btn-default" data-bind="event: {vclick: start}, visible: state.numPlayers() >= 2">Start</button>
                        </p>
                    </div>
                    <div data-bind="visible: weAreInState('start-of-turn')">
                        <!-- ko if: !targetedAction() -->
                            Your turn:<br/>
                            <!-- ko foreach: actionNames() -->
                                <button class="btn btn-action" data-bind="enable: canPlayAction($data), event: {vclick: playAction}, css: buttonActionClass($data)">
                                    <i data-bind="css: $data"></i>
                                    <span data-bind="text: $data"></span>
                                </button>
                                <!-- ko if: $data == 'exchange' --><br/><!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: targetedAction -->
                            <span data-bind="text: targetedAction"></span>:
                            <!-- ko foreach: state.players -->
                                <!-- ko if: canTarget($index()) -->
                                    <button class="btn btn-default" data-bind="text: name, event: {vclick: function() { playTargetedAction($index()); }}"></button>
                                <!-- /ko -->
                            <!-- /ko -->
                            <button class="btn btn-link" data-bind="event: {vclick: cancelAction}">back</button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: theyAreInState('start-of-turn')">
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to play
                    </div>
                    <div data-bind="visible: theyAreInState('exchange')">
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to exchange roles
                    </div>
                    <div data-bind="visible: weAreInState('exchange')">
                        Choose <span data-bind="text: ourInfluenceCount()"></span> roles to keep:<br/>
                        <!-- ko foreach: state.state.exchangeOptions -->
                            <span data-bind="text: $data"></span>
                            <input type="checkbox" data-bind="attr: { 'data-role': $data }"/>
                            <br/>
                        <!-- /ko -->
                        <button class="btn btn-action btn-ambassador" data-bind="event: {vclick: exchange}">
                            <i class="exchange"></i>
                            <span>Exchange</span>
                        </button>
                    </div>
                    <div data-bind="visible: weAreInState('action-response')">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for blocks/challenges
                    </div>
                    <div data-bind="visible: theyAreInState('action-response')">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        <!-- ko if: !weAreAlive() -->
                            Waiting for blocks/challenges
                        <!-- /ko -->
                        <!-- ko if: weAreAlive() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <!-- ko if: weCanBlock() -->
                                <!-- ko foreach: blockingRoles() -->
                                    <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                                        <i class="block"></i>
                                        <span data-bind="text: 'Block with ' + $data"></span>
                                    </button>
                                <!-- /ko -->
                            <!-- /ko -->
                            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                                <i class="challenge"></i>
                                <span>Challenge</span>
                            </button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreInState('final-action-response')">
                        Waiting for blocks
                    </div>
                    <div data-bind="visible: theyAreInState('final-action-response')">
                        <!-- ko if: !weCanBlock() -->
                            Waiting for blocks
                        <!-- /ko -->
                        <!-- ko if: weCanBlock() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <!-- ko foreach: blockingRoles() -->
                                <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                                    <i class="block"></i>
                                    <span data-bind="text: 'Block with ' + $data"></span>
                                </button>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreTargeted('block-response')">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for challenges
                    </div>
                    <div data-bind="visible: theyAreTargeted('block-response') &amp;&amp; weAreAlive()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        <!-- ko if: !weAreAlive() -->
                            Waiting for challenges
                        <!-- /ko -->
                        <!-- ko if: weAreAlive() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                                <i class="challenge"></i>
                                <span>Challenge</span>
                            </button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreInState('game-won')">
                        You have won!<br/>
                        <button class="btn btn-default" data-bind="event: {vclick: join}">Play again</button>
                    </div>
                    <div data-bind="visible: theyAreInState('game-won')">
                        <span data-bind="text: currentPlayerName()"></span> has won!
                        <button class="btn btn-default" data-bind="event: {vclick: join}">Play again</button>
                    </div>
                    <div data-bind="visible: weMustReveal()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Must reveal an influence
                        <!-- ko foreach: ourInfluence() -->
                        <button class="btn btn-xs" data-bind="text: role, css: buttonRoleClass(role()), visible: !revealed(), event: {vclick: reveal}"></button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: theyMustReveal()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for <span data-bind="text: toRevealPlayerName()"></span> to reveal an influence
                    </div>
                </div>
                <ul class="list-group" data-bind="foreach: history">
                    <li class="list-group-item" data-bind="css: historyBorderClass($data)">
                        <ul class="history-group" data-bind="foreach: {data: $data, afterAdd: animateHistory}">
                            <li class="history-group-item" data-bind="attr: {'data-icon': icon}">
                                <i data-bind="css: icon"></i>
                                <span data-bind="text: message"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
