<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Treason Coup</title>
    <meta name="description" content="Play Coup online with your friends and against the AI">

    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="client.css">
    <link rel="stylesheet" href="lib/jquery-ui.css">

    <script src="lib/jquery-2.1.4.js"></script>
    <script src="lib/jquery.mobile.custom.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/knockout-3.3.0.debug.js"></script>
    <script src="lib/knockout.mapping-debug.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="shared.js"></script>
    <script src="client.js"></script>
    <script src="version.js"></script>
</head>
<body>
    <div class="banner" data-bind="visible: bannerVisible, html: bannerMessage"></div>
    <div class="container" data-bind="visible: !playing()">

        <div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="newGameLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="newGameModalTitle">Create New Game</h4>
                    </div>
                    <div class="modal-body">
                        <p><input type="text" placeholder="No password" data-bind="textInput: password"/></p>
                        <p><button class="btn btn-default" data-bind="click: create" data-dismiss="modal">Create game</button></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="passwordRequiredModal" tabindex="-1" role="dialog" aria-labelledby="passwordRequiredLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="passwordRequiredTitle">This game requires a password</h4>
                    </div>
                    <div class="modal-body">
                        <p><input type="text" placeholder="Type password here" data-bind="textInput: password"/></p>
                        <p><button class="btn btn-default" type="submit" data-bind="click: join, enable: password">Join game</button></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="joinGameModal" tabindex="-1" role="dialog" aria-labelledby="joinGameLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" data-bind="with: gameInfo">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="joinGameModalTitle" data-bind="text: 'Game ' + gameName"></h4>
                    </div>
                    <div class="modal-body">
                        <div data-bind="with: gameInfo">
                            <p>State: <span data-bind="text: status"></span></p>
                            <p>Mode: <span data-bind="text: type"></span></p>
                            <p data-bind="visible: passwordRequired">Password: <input type="text" placeholder="Password" data-bind="textInput: $parent.password"/></p>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>Human</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: players">
                                        <tr>
                                            <td data-bind="text: playerName"></td>
                                            <td data-bind="text: ai == true ? 'no' : 'yes'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p><button class="btn btn-default btn-block" data-bind="click: join.bind(null, null, null, gameName)" data-dismiss="modal">Join game</button></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3>Treason Coup</h3>
                <p data-bind="text: version"></p>
            </div>
        </div>
        <!-- ko if: !loggedIn() -->
        <div class="row">
            <!-- Welcome screen -->
            <div class="col-sm-4">
                <!-- ko if: !needName() -->
                <form data-bind="submit: enter">
                    <p><input class="name-input" type="text" placeholder="Name" data-bind="textInput: playerName"/></p>
                    <p><button class="btn btn-default" type="submit" data-bind="enable: playerName">Enter the arena</button></p>
                </form>
                <!-- /ko -->
                <!-- ko if: needName() -->
                <p>Please enter a name to be able to join <span data-bind="text: currentGame()"></span></p>
                <form data-bind="submit: join">
                    <p><input class="name-input" type="text" placeholder="Name" data-bind="textInput: playerName"/></p>
                    <p><button class="btn btn-default" type="submit" data-bind="enable: playerName">Join game</button></p>
                </form>
                <!-- /ko -->
                <p><a href="rules.html" target="blank">How to play</a></p>
                <p><a href="https://twitter.com/intent/tweet?screen_name=chrsbrn" class="twitter-mention-button" data-related="chrsbrn">Tweet to @chrsbrn</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<span class="feedback">to send feedback</span><p>
                <div>
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/treasoncoup" data-widget-id="701469749927133184">#treasoncoup Tweets</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <div class="col-sm-8">
                <h4><span data-bind="text: showingGlobalRank() ? 'Global ' : 'Personal '"></span>Rankings</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Wins</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: rankings() -->
                            <tr data-bind="css: $data.isPlayer ? 'success' : ''">
                                <td data-bind="text: $data.rank"></td>
                                <td data-bind="text: $data.playerName"></td>
                                <td data-bind="text: $data.wins - $data.winsAI"></td>
                            </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <!-- ko if: !needName() -->
                <!--<p><a href="" data-bind="click: showRankings, text: rankButtonText"></a></p>-->
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: loggedIn() -->
        <div class="row">
            <div class="col-sm-8">

                <div>
                    <button class="btn btn-default" data-bind="click: join" data-dismiss="modal">Quick Play</button>
                    <button class="btn btn-default" data-toggle="modal" data-dismiss="modal" data-target="#newGameModal">Create Game</button>
                </div>

                <div class="table-responsive games-list-container">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Game</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: games() -->
                            <tr data-toggle="modal" data-target="#joinGameModal" data-bind="attr: {'data-game-name': $data.gameName}">
                                <td data-bind="text: $data.gameName"><!--<a href="" data-dismiss="modal" data-bind="attr: { href: $data.gameName }, text: $data.gameName"></a>--></td>
                                <td data-bind="text: $data.status"></td>
                                <td data-bind="text: $data.type"></td>
                                <td data-bind="text: $data.passwordRequired ? 'yes' : 'no'"></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-sm-4">
                <p><a href="https://twitter.com/intent/tweet?screen_name=chrsbrn" class="twitter-mention-button" data-related="chrsbrn">Tweet to @chrsbrn</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <span class="feedback">to send feedback</span><p>
                <div>
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/treasoncoup" data-widget-id="701469749927133184" height="300">#treasoncoup Tweets</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <br/>
                <div class="row well">
                    <div class="col-sm-9">
                        <div class="global-chat">
                            <!-- ko foreach: globalChatMessages() -->
                            <p data-bind="text: $data"></p>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="table-responsive global-chat-users">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Players Online: <span data-bind="text: activeUsers"></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- ko foreach: players() -->
                                <tr>
                                    <td data-bind="text: $data.playerName"></td>
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <form data-bind="submit: sendGlobalMessage">
                            <input placeholder="Global chat message" type="text" class="form-control" data-bind='value: globalMessage, valueUpdate: "afterkeydown"' />
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Wins</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: rankings() -->
                        <tr data-bind="css: $data.isPlayer ? 'success' : ''">
                            <td data-bind="text: $data.rank"></td>
                            <td data-bind="text: $data.playerName"></td>
                            <td data-bind="text: $data.wins - $data.winsAI"></td>
                        </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <p><a href="" data-bind="click: showRankings, text: rankButtonText"></a></p>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="container" style="display: none" data-bind="visible: playing()">
        <div class="row">
            <!-- Players -->
            <div class="col-xs-4">
                <% include ../partials/side-bar.ejs %>
            </div>
            <!-- Activity -->
            <div class="col-xs-8 activity">
                <div class="action-bar">
                    <div data-bind="visible: state.state.name() == 'waiting-for-players'">
                        <p>Waiting for players</p>
                        <p>
                            <button class="btn btn-default" data-bind="enable: canAddAi(), event: {vclick: addAi}">Add AI</button>
                            <button class="btn btn-default" data-bind="enable: canRemoveAi(), event: {vclick: removeAi}">Remove AI</button>
                            <br/>
                            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'normal')}, visible: state.numPlayers() >= 2">Start normal game</button>
                            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'inquisitors')}, visible: state.numPlayers() >= 2">Start inquisitor game</button>
                        </p>
                    </div>
                    <div data-bind="visible: weAreInState('start-of-turn')">
                        <!-- ko if: !targetedAction() -->
                            Your turn:<br/>
                            <!-- ko foreach: actionNames() -->
                                <!-- ko if: actionPresentInGame($data) -->
                                    <button class="btn btn-action" data-bind="enable: canPlayAction($data), event: {vclick: playAction}, css: buttonActionClass($data)">
                                        <i data-bind="css: $data"></i>
                                        <span data-bind="text: $data"></span>
                                    </button>
                                <!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: targetedAction -->
                            <i data-bind="css: targetedAction"></i>
                            <span data-bind="text: targetedAction"></span>:
                            <!-- ko foreach: state.players -->
                                <!-- ko if: canTarget($index()) -->
                                    <button class="btn btn-default" data-bind="text: name, event: {vclick: function() { playTargetedAction($index()); }}"></button>
                                <!-- /ko -->
                            <!-- /ko -->
                            <button class="btn btn-link" data-bind="event: {vclick: cancelAction}">back</button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: theyAreInState('start-of-turn')">
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to play
                    </div>
                    <div data-bind="visible: theyAreInState('exchange')">
                        <i class="exchange"></i>
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to exchange roles
                    </div>
                    <div data-bind="visible: weAreInState('exchange')">
                        <i class="exchange"></i>
                        Choose <span data-bind="text: ourInfluenceCount()"></span> roles to keep:<br/>
                        <!-- ko foreach: state.state.exchangeOptions -->
                            <button class="btn" data-bind="text: $data, css: exchangeOptionClass($index()), event: {vclick: function() {toggleExchangeOption($index());}}"></button>
                        <!-- /ko -->
                        <br/>
                        <button class="btn btn-action btn-ambassador" data-bind="enable: exchangeOptionsValid(), event: {vclick: exchange}">
                            <i class="exchange"></i>
                            <span>Exchange</span>
                        </button>
                    </div>
                    <div data-bind="visible: theyAreInState('interrogate')">
                        <i class="interrogate"></i>
                        Waiting for <span data-bind="text: currentPlayerName()"></span> to interrogate <span data-bind="text: targetPlayerName()"></span>
                    </div>
                    <div data-bind="visible: weAreInState('interrogate')">
                        <i class="interrogate"></i>
                        <span data-bind="text: targetPlayerName()"></span> has a
                        <span class="label" data-bind="text: state.state.confession(), css: labelClass(state.state.confession())"></span><br/>

                        Force <span data-bind="text: targetPlayerName()"></span> to exchange it for another role?<br/>
                        <button class="btn btn-default" data-bind="event: {vclick: interrogate.bind(null, true)}">Yes</button>
                        <button class="btn btn-default" data-bind="event: {vclick: interrogate.bind(null, false)}">No</button>
                    </div>
                    <div data-bind="visible: weAreInState('action-response')">
                        <i data-bind="css: state.state.action"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for blocks/challenges
                    </div>
                    <div data-bind="visible: theyAreInState('action-response')">
                        <i data-bind="css: state.state.action"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        <!-- ko if: !weAreAlive() -->
                            <br/>
                            Waiting for blocks/challenges
                        <!-- /ko -->
                        <!-- ko if: weAreAlive() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <!-- ko if: weCanBlock() -->
                                <!-- ko foreach: blockingRoles() -->
                                    <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                                        <i class="block"></i>
                                        <span data-bind="text: 'Block with ' + $data"></span>
                                    </button>
                                <!-- /ko -->
                            <!-- /ko -->
                            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                                <i class="challenge"></i>
                                <span>Challenge</span>
                            </button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreInState('final-action-response')">
                        <i data-bind="css: state.state.action"></i>
                        Waiting for blocks
                    </div>
                    <div data-bind="visible: theyAreInState('final-action-response')">
                        <i data-bind="css: state.state.action"></i>
                        <!-- ko if: !weCanBlock() -->
                            Waiting for blocks
                        <!-- /ko -->
                        <!-- ko if: weCanBlock() -->
                            Last chance to block<br/>
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <!-- ko foreach: blockingRoles() -->
                                <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                                    <i class="block"></i>
                                    <span data-bind="text: 'Block with ' + $data"></span>
                                </button>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreTargeted('block-response')">
                        <i class="block"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for challenges
                    </div>
                    <div data-bind="visible: theyAreTargeted('block-response') &amp;&amp; weAreAlive()">
                        <i class="block"></i>
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        <!-- ko if: !weAreAlive() -->
                            Waiting for challenges
                        <!-- /ko -->
                        <!-- ko if: weAreAlive() -->
                            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                                <i class="allow"></i>
                                <span>Allow</span>
                            </button>
                            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                                <i class="challenge"></i>
                                <span>Challenge</span>
                            </button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: weAreInState('game-won')">
                        You have won!<br/>
                    </div>
                    <div data-bind="visible: theyAreInState('game-won')">
                        <span data-bind="text: currentPlayerName()"></span> has won!<br/>
                    </div>
                    <div data-bind="visible: gameOver()">
                        <button class="btn btn-default" data-bind="event: {vclick: playAgain}">Play again</button>
                    </div>
                    <div data-bind="visible: weMustReveal()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        You must reveal an influence
                        <!-- ko foreach: ourInfluence() -->
                        <button class="btn" data-bind="text: role, css: buttonRoleClass(role()), visible: !revealed(), event: {vclick: reveal}"></button>
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible: theyMustReveal()">
                        <span data-bind="text: stateMessage()"></span><br/><br/>
                        Waiting for <span data-bind="text: toRevealPlayerName()"></span> to reveal an influence
                    </div>
                </div>
                <ul class="list-group" data-bind="foreach: history">
                    <li class="list-group-item" data-bind="css: historyBorderClass($data)">
                        <ul class="history-group" data-bind="foreach: {data: $data, afterAdd: animateHistory}">
                            <li class="history-group-item" data-bind="attr: {'data-icon': icon}">
                                <i data-bind="css: icon"></i>
                                <span data-bind="text: message"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
