# Lives in /lib/systemd/system/treason.service

[Unit]
Description=Treason golpe

[Service]
ExecStart=/home/treason/deploy/scripts/run-node /home/treason/deploy/server.js --port 8080
User=treason
Restart=always

[Install]
WantedBy=multi-user.target

