# Lives in /lib/systemd/system/treason-blue.service

[Unit]
Description=Treason Coup (Blue)

[Service]
ExecStart=/home/treason/deploy-blue/scripts/run-node /home/treason/deploy-blue/server.js --port 8082
User=treason
Restart=always

[Install]
WantedBy=multi-user.target

